*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 50px; */
  padding: 60px 180px;
  background-color: #F0FFFF;
}